[submodule "SSG-hugo/quickstart/themes/ananke"]
	path = SSG-hugo/quickstart/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "SSG-hugo/anotherdemo/themes/tranquilpeak"]
	path = SSG-hugo/anotherdemo/themes/tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "rustacean/rustacean/RustyRockets"]
	path = rustacean/rustacean/RustyRockets
	url = git@github.com:rstropek/RustyRockets.git
[submodule "rustacean/RustyRockets"]
	path = rustacean/RustyRockets
	url = git@github.com:rstropek/RustyRockets.git
